nav.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    ul {
        list-style-type: none;
        display: flex;
    }

    li {
        padding: 5px 10px;
        border: 1px solid;
        margin: 0px 5px;
        background: #000;
        border-radius: 5px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}